name: Rust

on:
  push:
    branches: ["main"]

  pull_request:
    branches: ["main"]

  workflow_dispatch:
    inputs:
      commit_sha:
        description: "Commit SHA1 to build"
        required: false
        default: "HEAD"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Build
        if: ${{ github.event_name != 'workflow_dispatch' }}
        run: cargo build --release
      - name: Build workflow dispatch
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          git checkout ${{ github.event.inputs.commit_sha }}
          cargo build --release
      - name: Get commit SHA of current build
        run: echo "COMMIT_SHA=$(git rev-parse HEAD)" >> $GITHUB_ENV
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4.4.3
        with:
          name: tacky-borders-${{ env.COMMIT_SHA }}
          path: target/release/*.exe
          retention-days: 30

  test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: cargo test --verbose
